{
    "tmi": {
        "options": {
            "debug": true
        },
        "connection": {
            "reconnect": true
        },
        "identity": {
            "username": "ItMeTheBot",
            "password": "blah"
        },
        "channels": ["#ItsAChannel"]
    }
}
